In [1]:
import pandas as pd

In [10]:
cols= ['Brand','Model','Year','Km','Doors','Seats','TransmissionNr','Fuel','Power','Cylinder Engine','Transmission','AC','Condition','Price']

In [11]:
df= pd.read_csv('df_pf.csv',header=0, names= cols,error_bad_lines=False)

b'Skipping line 2621: expected 14 fields, saw 15\nSkipping line 2894: expected 14 fields, saw 15\n'

In [12]:
df.head()

,Brand,Model,Year,Km,Doors,Seats,TransmissionNr,Fuel,Power,Cylinder Engine,Transmission,AC,Condition,Price
0,MINI,Cooper,2011,124600,3,5,5,Diesel,112cv,1600,Manual,ACManual,Usados,11900
1,Mercedes-Benz,A180Limousine,2015,60000,5,5,6,Diesel,109cv,1461,Manual,ACIndependente,Usados,16990
2,Opel,Astra,2004,172000,5,5,9,Gasolina,90cv,1364,Manual,ACAutom치tico,Usados,2400
3,Opel,AstraSportsTourer,2011,163000,5,5,5,Diesel,125cv,1686,Manual,ACIndependente,Usados,9500
4,Opel,CrosslandX,2017,29500,5,5,6,Gasolina,81cv,1199,Manual,ACAutom치tico,Usados,12250

In [16]:
df.to_csv('stand_df.csv',index=False)